.swiper-slide {
  margin: 0px;
}

.swiperBackImg {
  width: 100%;
  height: 100%;
}

.swiperCategoriesCategory {
  width: 100%;
  height: 113px;
}

.swiperProducts {
  width: 343px;
  height: 324px;
}


.swiperNewProd {
  width: 100%;
  height: 409px;
}

.swiperDiscount {
  width: 100%;
  height: 429px;
}

.swiperNews {
  width: 100%;
  height: 628px;
}

@media (min-width:1440px) {
  .swiperNewProd {
    height: 625px;
  }

  .swiperDiscount {
    height: 625px;
  }
}