@import "/node_modules/normalizecss/normalize.css";
@import "./components/fonts/fonts";
@import "./components/generic/generic";
// HEADER
@import "./components/header/header";
@import "./components/header/burger";
// SECTION
@import "./components/sections/mood";
@import "./components/sections/categories.scss";


@import "./components/swiper/_swiper.scss";
@import "./components/sections/_popular.scss";

.up {
  &-title {
    padding: 21px 24px;
    font-size: 10px;
    line-height: 10px;
  }
}
