.categories {
  &-category {
    margin-left: 0px;
    margin: 40px 0px;
  }
}
.category {
  &-item {
    display: grid;
    justify-items: center;
    gap: 10px;

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 89px;
      height: 89px;
      border-radius: 50%;
      background-color: #f1f1f1;
      &-img {
        width: 54px;
        height: 50px;
      }
    }

    &__title {
      font-size: 14px;
      line-height: 100%;
      font-style: normal;
      text-align: center;
      font-weight: 600;
    }
  }
}

.products-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    line-height: 22.4px;
  }
}

.sign {
  &-main {
    display: flex;
    justify-content: center;

    &__img {
      width: 343px;
      height: 186px;
      background-color: rgba(19, 237, 237, 1);
    }
  }
  &-slider {
    &__img {
      width: 162px;
      height: 258px;
    }

    &__title {
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }
  }
}
