@media (min-width: 320px) {
  .wrapper {
    margin: 0px 16px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0px 75px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 0px 75px;
  }
}
